.cssDiv{
        background-image: url(/../assets/img/msnbg.jpg);
        width: 100%;
        height: 100px;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
        border: 7px solid #7FC2DD;
}

.cssHr{
    margin: 2px 0;
    border: 8px solid #7FC2DD;
}

.cssImg{
    width: 50px;
    height: 50px;
    margin: 5px;

}

.cssDivI[_ngcontent-c1] {
    width: 70px;
    height: 70px;
    margin: 10px;
    border: 4px solid greenyellow;
    border-radius: .25rem;
}

.cssInput{
    width: 94%;
    margin-left: 10px;
    margin-top: 15px;
    padding: 6px;
}

.cssIconoMas{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.cssImgL{
    width: 20px;
    height: 20px;
    margin: 5px;

}

.texto{
    font-family: fantasy;
    display: flex;
}

.cssP{
    font-family: sans-serif;
}