.cssNavbar{
background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #7abcff 61%, #7abcff 61%, #7abcff 61%, #7abcff 61%, #4096ee 83%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#7abcff 61%,#7abcff 61%,#7abcff 61%,#7abcff 61%,#4096ee 83%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#7abcff 61%,#7abcff 61%,#7abcff 61%,#7abcff 61%,#4096ee 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.cssDiv{
        background-image: url(/../assets/img/msnbg.jpg);
        width: 100%;
        height: 100px;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center;
        border: 7px solid #7FC2DD;
}

.cssHr{
    margin: 2px 0;
    border: 8px solid #7FC2DD;
}

.cssImg{
    width: 50px;
    height: 50px;
    margin: 5px;

}

.cssDivI[_ngcontent-c1] {
    width: 70px;
    height: 70px;
    margin: 10px;
    border: 4px solid greenyellow;
    border-radius: .25rem;
}

.cssInput{
    width: 94%;
    margin-left: 10px;
    margin-top: 15px;
    padding: 6px;
}

.cssIconoMas{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}