<!--<ul>
  creamos una lista con el arreglo y mandamos su id cuando se le hace clic al elemento
  <li routerLink="/conversation/{{user.userId}}" *ngFor="let user of users">{{user.nick}}</li>
</ul>-->

  
    <div class="row cssDiv">
      <div class="cssDivI">
        <img src="/assets/img/logo_live_online.png" class="cssImg" >
      </div>
      <div class="col-md-1">
        <p>{{users[0].nick}}</p>
        <p>{{users[0].subNick}}</p>
      </div>

    </div>
    <hr class="cssHr">
    <div>
    <input type="text" placeholder="Buscar un contacto o un número" class="cssInput">
    <img src="/assets/img/logo_live_add.png" class="cssIconoMas">
  </div>
  <hr>

 <!--<div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>-->

  <div class="dropdown" style="margin-left: 20px;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Amigos (11/11)
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item texto" href="#" *ngFor="let user of users">
          <img src="/assets/img/logo_live_online.png" class="cssImgL">
          {{user.nick +' - '}}<p class="cssP">{{user.subNick}}</p> </a>
      </div>
    </div>

<ul class="list-unstyled" style="margin-left: 10px;margin-top: 10px">
       <!-- creamos una lista con el arreglo y mandamos su id cuando se le hace clic al elemento-->
       <li routerLink="/conversation/{{user.userId}}" *ngFor="let user of usersFireB" class="texto">
        <!--<i class="fa-li fa fa-check-square" style="margin-left: 40px;"></i>-->
          <img src="/assets/img/logo_live_online.png" class="cssImgL">
          {{user.nick +'  -  '}} <p class="cssP">{{ user.subNick}}</p></li>
</ul>
  
 